p {
    margin: 10px 0;
    padding: 10px;
}

li {
    margin: 0px 0px 0px 20px;
}

.setting-box {
    padding: 20px 50px 0px 50px;
}

table {
    border-collapse: collapse;
    margin: 0px 0px 0px 50px;
}

tr, td, th{
    border: 1px solid black;
    padding: 10px 5px 10px 5px;
    text-align: center
}

th{
    border: 1px solid black;
    padding: 20px 10px 20px 10px;
    text-align: center;
    background-color:rgb(187, 187, 187)
}
